<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.atto.server.db.mapper.PermissionMapper">

    <select id="selectPermissionsByUserUid" parameterType="String" resultType="com.atto.server.model.Permission">
        SELECT PERM_LIST.PERM_UID as id, TAA_DOMAIN.NAME as name, PERM_LIST.PERM_ACTION as action
        FROM FT_DOMAIN,
        (SELECT * FROM FT_PERM
        WHERE PERM_UID IN (SELECT PERM_UID FROM FT_ROLE_PERM
        WHERE ROLE_SID IN (SELECT ROLE_SID FROM FT_USER_ROLE
        WHERE USER_SID=#{id}))) as PERM_LIST
        WHERE PERM_LIST.DOMAIN_SID = FT_DOMAIN.DOMAIN_SID;
    </select>
</mapper>
